
<h1 class="text-center message-header">New Message to: <%= @chosen_recipient.name %></h1>
<div class="devise-card" style="margin-top: 15px">
  <div class="col-sm-12">
    <%= form_tag messages_path, method: :post do %>
    <div class="form-group">
      <%= text_field_tag 'message[subject]', nil, class: 'form-control chosen-it', required: true, placeholder: "Subject" %>
    </div>

    <div class="form-group">
      <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control chosen-it', required: true, placeholder: "Leave your message here" %>
    </div>

    <%= hidden_field_tag :gig_id, params[:gig_id] %>
    <%= hidden_field_tag :recipients, @chosen_recipient.id %>

    <%= submit_tag 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
