<div class="row">
  <div class="col-sm-12">
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id="gig-search">
      <%= render "search/search_box", big: "", big2: '' %>
    </div>
  </div>
</div>
<div class="row">
  <% @gigs.each do |gig| %>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-category"><%= gig.address %></div>
        <div class="card-description">
          <h2><%= gig.name %></h2>
          <p><%= gig.description %></p>
        </div>
        <%= link_to gig_path(gig), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>
