<!-- Search -->
<div class="row">
  <div class="col-sm-12">
    <div id="gig-search" style="margin-bottom: 10px">
      <%= render "search/search_box", big: 'form-control-lg input-lg', big2: 'btn-lg' %>
  </div>
</div>

<!-- Map -->
<div class="row">
  <div class="col-sm-12">
    <div
      id="map"
      style="width: 100%;
      height: 300px;
      margin-bottom: 10px;"
      data-markers="<%= @markers.to_json %>"
      style="border-radius: 3px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);"
    ></div>
  </div>
</div>

<!-- Gig Cards -->

<div class="row">
  <% @gigs.each do |gig| %>
    
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('<%= cl_image_path gig.photos.first.photo if gig.photos.present? %>');">
        <div class="card-category">
          <p><%= gig.date.strftime('%b %d, %Y') %></p>
          <p><%= gig.organizer.name %><p>
          </div>
        <div class="card-description">
          <h2><%= gig.name %></h2>
          <p><%= gig.description[0,40] + '...' %></p>
        </div>
        <%= link_to '', gig_path(gig), class: "card-link" %>
      </div>
    </div>

  <% end %>
</div>
