<div class="container-gig-index">
  <%= render "search/search_box" %>

  <% @gigs.each do |gig| %>
      <div class="row-gig-index gig-card">
      <div class="gig-text-index">
         <div class="gig-info-index gig-card">
        <h1 class="gig gig-name"><%= gig.name %></h1>
        <p class="gig gig-bio-index"><%= gig.description %></p>
        <p class="gig gig-genre-index"><%= gig.address %></p>

        <div class="gig-icons">
          <a href="http://<%=gig.url%>"><i class="fab fa-facebook"></i></a>
        </div>
        </div>
      </div>

      <div class="gig-photos gig-card">
        <%= cl_image_tag gig.photos.first.photo %>
      </div>
      </div>
  <% end %>
</div>
