<div class="text-white">
  <h1>Conversation</h1>
  <p>Chatting with
    <%= Booking.find(@conversation.booking_id).gig.organizer.user.name %>
  </p>

  <p>
    Your booking is <span class="booking-status <%= Booking.find(@conversation.booking_id).status=="confirmed" ? 'booking-status-confirmed' : 'booking-status-pending' %>"><%= Booking.find(@conversation.booking_id).status %></span> for: <%= link_to Booking.find(@conversation.booking_id).gig.name, gig_path(Booking.find(@conversation.booking_id).gig) %>
  </p>

  <p><%= link_to "View booking", booking_path(Booking.find(@conversation.booking_id)), class: "btn btn-primary" %></p>
</div>

  <div class="panel panel-default">
    <div class="panel-heading"><%= @conversation.subject %></div>

    <div class="panel-body">
      <div class="messages">
        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <div class="media">
            <% message = receipt.message %>

            <div class="media-body">
              <h6 class="media-heading"><strong><%= message.sender.name %></strong>
                says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
              <%= message.body %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "Send Message", class: 'btn btn-primary' %> <%= link_to "All conversations", conversations_path, class: "btn btn-info" %>
  <% end %>
