<div class="text-white text-center" style="margin-bottom: 50px;">
  <h1>Chatting with
    <%= Booking.find(@conversation.booking_id).gig.organizer.user.name %>
  </h1>

  <p><em style="font-weight: 200;">
    Your booking is <span class="booking-status <%= Booking.find(@conversation.booking_id).status=="confirmed" ? 'booking-status-confirmed' : 'booking-status-pending' %>"><%= Booking.find(@conversation.booking_id).status %></span> for: <%= link_to Booking.find(@conversation.booking_id).gig.name, gig_path(Booking.find(@conversation.booking_id).gig) %>
  </em></p>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading" style="font-weight: 500;"><%= @conversation.subject %></div>

    <div class="panel-body">
      <div class="messages">
        <% @conversation.receipts_for(current_user).each do |receipt| %>
          <div class="media">
            <% message = receipt.message %>

            <div class="media-body">
              <h6 class="media-heading" style="font-weight: 300;"><em><strong><%= message.sender.name %></strong>
                says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></em></h6>
              <%= message.body %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "Send Message", class: 'btn btn-primary' %>
    <%= link_to "View booking", booking_path(Booking.find(@conversation.booking_id)), class: "btn btn-default" %>
     <%= link_to "All conversations", conversations_path, class: "btn btn-default" %>
  <% end %>
</div>