</div>

<div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @gig.photos.first.photo if @gig.photos.present? %>');">
  <div class="banner-content">
    <h1> <span class="<%= @booking.status=="confirmed" ? 'booking-status-confirmed' : 'booking-status-pending' %>"><%= @booking.status.capitalize %></span> gig! </h1>
    <h2><%= @gig.name %></h2>
    <p>Organized by <%= @gig.organizer.name %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="show-card">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="show-card-description">
              <h2><%= @gig.organizer.name %></h2>
              <p><strong>Description:</strong> <%= @gig.description %></p>
              <p><strong>Address:</strong> <%= @gig.address %></p>
            </div>
            <div class="gig-icons">
              <a href="http://<%=@gig.url%>"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <h1 class="band band-name">Band Playing: <%= @band.name %></h1>
            <p class="band band-bio"><%= @band.bio %></p>
            <p class="band band-genre"><%= @band.genre.name.capitalize %></p>
              <div class="band-music-links">
                <p class="band band-website">
                  <a <%= link_to @band.website do %>
                    <i class="far fa-envelope"></i></a>
                  <% end %>
                </p>
                <p class="band band-spotify">
                  <a <%= link_to @band.spotify do %>
                    <i class="fab fa-spotify"></i></a>
                  <% end %>
                </p>
                <p class="band band-bandcamp">
                  <a <%= link_to @band.bandcamp do %>
                    <i class="fab fa-bandcamp"></i></a>
                  <% end %>
                </p>
                <p class="band band-facebook">
                  <a <%= link_to @band.facebook do %>
                    <i class="fab fa-facebook"></i></a>
                  <% end %>
                </p>
                <p class="band band-instagram">
                  <a <%= link_to @band.instagram do %>
                    <i class="fab fa-instagram"></i></a>
                  <% end %>
                </p>
                <p class="band band-youtube">
                  <a <%= link_to @band.youtube do %>
                    <i class="fab fa-youtube"></i></a>
                  <% end %>
                </p>
              </div>
            </div>
        <div class="col-sm-12">
          <div
            id="map"
            style="width: 100%;
            height: 300px;"
            data-markers="<%= @markers.to_json %>"
            style="border-radius: 3px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
