</div>
<div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @venue.photos.first.photo if @venue.photos.present? %>');">
  <div class="banner-content">
    <h1><%= @venue.name %></h1>
    <h2><%= @venue.description %></h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="show-card">
        <div class="row">
          <div class="col-sm-12 col-md-6">
          </div>
          <div class="col-sm-12 col-md-9">
            <div class="show-card-description">
              <h2><%= @venue.name %></h2>
              <p><strong>Address:</strong> <%= @venue.address %></p>
              <p><strong>Website:</strong> <%= @venue.website %></p>
              <p><strong>Phone:</strong> <%= @venue.telephone %></p>
              <p><strong>Email:</strong> <%= @venue.email %></p>
            </div>
          </div>
        <div class="col-sm-12 col-md-3">
          <div class="show-card-links text-right">
            <%= link_to @venue.website, class: "btn btn-primary", target: "_blank" do %>
              <i class="fab fa-facebook"></i></a>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12">
          <div
            id="map"
            style="width: 100%;
            height: 300px;"
            data-markers="<%= @markers.to_json %>"
            style="border-radius: 3px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);"
          ></div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Gigs -->
<div class="container">
  <div class="row">
  <% @gigs.each do |gig| %>
    
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('<%= cl_image_path gig.photos.first.photo if gig.photos.present? %>');">
        <div class="card-category">
          <p><%= gig.date.strftime('%b %d, %Y') %></p>
          <p><%= gig.organizer.name %><p>
          </div>
        <div class="card-description">
          <h2><%= gig.name %></h2>
          <p><%= gig.description[0,40] + '...' %></p>
        </div>
        <%= link_to '', gig_path(gig), class: "card-link" %>
      </div>
    </div>

  <% end %>
  </div>
</div>

<!-- Reviews -->
<div class="container">
  <div class="row">
  <% @reviews.each do |review| %>
    
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.75)); %>');">
        <div class="card-description">
          <h3><%= review.subject %></h3>
          <p><strong>Professionalism:</strong> <%= raw('<i class="fas fa-star"></i>') * review.professionalism %></p>
          <p><strong>Quality:</strong> <%= raw('<i class="fas fa-star"></i>') * review.quality %></p>
          <p><strong>Turnout:</strong> <%= raw('<i class="fas fa-star"></i>') * review.turnout %></p>
          <p><%= review.content %><p>
        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>