Band creation - 
    Add photos
    Add bio
    Add genre
    Add artist website
    Add music links
        Soundcloud
        Spotify
        Bandcamp
    Add social media links
        Facebook
        Instagram	
        Bandsintown/Songkick	
    Add video links
        Youtube
        Vimeo

<div class="container">
<div class="row-form">
<%= form_for(@band) do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_area :description, placeholder: "Bio" %>
  <%= f.text_field :genre, placeholder: "Genre" %>
  <%= f.text_field :website, placeholder: "Website" %>

  <%= f.submit %>
<% end %>
</div>
</div>