<div class="container-band">
  <div class="row-band">
    <div class="band-text">
      <div class="band-info">
      <h1 class="band band-name"><%= @band.name %></h1>
      <p class="band band-bio"><%= @band.bio %></p>
      <p class="band band-genre"><%= @band.genre.name %></p>
      </div>

      <div class="band-music-links">
      <p class="band band-website"><%= @band.website %></p>
      <p class="band band-spotify"><%= @band.spotify %></p>
      <p class="band band-bandcamp"><%= @band.bandcamp %></p>

      <p class="band band-facebook"Facebook: <%= @band.facebook %></p>
      <p class="band band-instagram"><%= @band.instagram %></p>
      <p class="band band-youtube"><%= @band.youtube %></p>
      </div>
    </div>

    <div class="band-photos">
    </div>
  </div>
</div>