</div>
<div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @band.photos.first.photo if @band.photos.present? %>');">
  <div class="banner-content">
    <h1><%= @band.name %></h1>
    <p> <%= @band.bio %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="show-card">
        <div class="row">
          <div class="col-sm-12 col-md-6">
          </div>
          <div class="col-sm-12 col-md-9">
            <div class="show-card-description">
              <h2><%= @band.name %></h2>
              <p><%= @band.genre.name %></p>
              <p><strong>Based in:</strong> <%= @band.address %></p>
              <p><strong>Bio:</strong> <%= @band.bio %></p>
              <p><strong>CONNECT:</strong> </p>
            <div class="band-music-links">
              <p class="band band-website">
                <a <%= link_to @band.website do %>
              <i class="far fa-envelope"></i></a>
              <% end %>
              </p>
              <p class="band band-spotify">
                <a <%= link_to @band.spotify do %>
                  <i class="fab fa-spotify"></i></a>
                <% end %>
              </p>
              <p class="band band-bandcamp">
                <a <%= link_to @band.bandcamp do %>
                  <i class="fab fa-bandcamp"></i></a>
                <% end %>
              </p>
              <p class="band band-facebook">
                <a <%= link_to @band.facebook do %>
                  <i class="fab fa-facebook"></i></a>
                <% end %>
              </p>
              <p class="band band-instagram">
                <a <%= link_to @band.instagram do %>
                  <i class="fab fa-instagram"></i></a>
                <% end %>
              </p>
              <p class="band band-youtube">
                <a <%= link_to @band.youtube do %>
                  <i class="fab fa-youtube"></i></a>
                <% end %>
              </p>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
