</div>
<div class="banner banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @band.photos.first.photo if @band.photos.present? %>');">
  <div class="container">
    <div class="row">
      <div class="banner-content">
        <h1><%= @band.name %></h1>
        <p><%= @band.bio %></p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
          <p><i class="fas fa-map-marker-alt"></i> <%= @band.address %></p>
        </div>
        <div class="col-sm-12 col-md-6">
          <p><i class="fas fa-music"></i> <%= @band.genre.name %></p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-sm-12 col-md-4">
          <a <%= link_to @band.website do %>
            <i class="far fa-envelope"></i></a>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-4">
          <a <%= link_to @band.instagram do %>
            <i class="fab fa-instagram"></i></a>
          <% end %>
        </div>
        <div class="col-sm-12 col-md-4">
          <a <%= link_to @band.facebook do %>
            <i class="fab fa-facebook"></i></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

           <!--  embed bandcamp -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
    <div class="spotify-player">
      <iframe src="https://open.spotify.com/album/59AeaIeAx6S2igYJFjltRE?si=f54UpmuNTOuyxdBuEx_OJw"width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <div class="soundcloud-player">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/158897554&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
    <div class="bandcamp-player">
      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=1629999904/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://dubovoy.bandcamp.com/album/portraits-drawn-without-you">Portraits Drawn Without You by Alexander Dubovoy</a></iframe>
    </div>
  </div>
  </div>
</div>


<!-- Gigs -->

<div class="container">
  <div class="row">
  <% @gigs.each do |gig| %>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('<%= cl_image_path gig.photos.first.photo if gig.photos.present? %>');">
        <div class="card-category">
          <p><%= gig.date.strftime('%b %d, %Y') %></p>
          <p><%= gig.organizer.name %><p>
          </div>
        <div class="card-description">
          <h2><%= gig.name %></h2>
          <p><%= gig.description[0,40] + '...' %></p>
        </div>
        <%= link_to '', gig_path(gig), class: "card-link" %>
      </div>
    </div>

  <% end %>
  </div>
</div>

<!-- Reviews -->

<div class="container">
  <div class="row">
  <% @reviews.each do |review| %>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card" style="background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.75)); color: black; height: 200px;">
        <div class="card-description">
          <h3><%= review.subject %></h3>
          <p><strong>Professionalism:</strong> <%= raw('<i class="fas fa-star"></i>' * review.professionalism) %></p>
          <p><strong>Quality:</strong> <%= raw('<i class="fas fa-star"></i>' * review.quality) %></p>
          <p><strong>Turnout:</strong> <%= raw('<i class="fas fa-star"></i>' * review.turnout) %></p>
          <p><%= review.content %><p>
        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>
