<%# Post a gig 

"datetime"
"address"
"genre_id"
"paid"
"organizer_type"
"organizer_id"
"other_users"
"url"


    t.datetime "datetime"
    t.string "address"
    t.bigint "genre_id"
    t.boolean "paid"
    t.string "organizer_type"
    t.bigint "organizer_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "other_bands"
    t.string "url"
    t.string "name"
    t.index ["genre_id"], name: "index_gigs_on_genre_id"
    t.index ["organizer_type", "organizer_id"], name: "index_gigs_on_organizer_type_and_organizer_id" %>


<div class="container">
<div class="row-form">
<%= form_for(@gig) do |f| %>
 <h3>Post a gig</h3>
  <%= f.text_field :name, placeholder: "Name", class: "form-item" %>
  <%= f.text_field :address, placeholder: "Address", class: "form-item" %>
  <%= f.text_area :description, placeholder: "Description", class: "form-item" %>
  <%= f.text_area :other_bands, placeholder: "Other artists", class: "form-item" %>
  <%= f.select(:genre_id, @genres.collect { |genre| [genre.name, genre.id] }, {}, { class: "form-item"})%>
  <%= f.select(:genre_id, @organizers.collect { |organizer| [organizer.name, organizer.id] }, {}, { class: "form-item"})%>
  <%= f.select :paid, [['Paid', true], ['Unpaid', false]], {}, { class: "form-item" } %>
  <%= f.text_field :url, placeholder: "Link", class: "form-item" %>
  <%= f.submit class: 'form-button' %>
<% end %>
</div>
</div>