Individual gig page

"datetime"
"address"
"genre_id"
boolean "paid"
"organizer_type"
"organizer_id"

<div class="container">
  <div class="row-show">
    <%= @gig.datetime %>
    <%= @gig.address %>
    <%= @gig.genre.name %>
    <%= @gig.paid %>
    <%= @gig.organizer_id %>

  </div>
</div>